<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <!-- category_detail.html -->
    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    {% if category %}
    <header>
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
    </header>

    <main>
        {% if products %}
        <ul>
            {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <p>{{ product.dis }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>Offer Price: ${{ product.offer_price }}</p>
                <p>Stock: {{ product.stock }}</p>
                <img src="{{ product.img.url }}" alt="Image of {{ product.name }}">
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No products available in this category.</p>
        {% endif %}
    </main>
    {% else %}
    <p>Category not found.</p>
    {% endif %}
    {% endif %}
</body>

</html>
